In [1]:
#匯入csv檔案
#臺中市政府警察局112年5月份交通事故資料
import pandas as pd

data1 = pd.read_csv("11205.csv")
data1

,年,月,日,時,分,縣市,區,死,受傷,2-30,...,車輛撞擊部位其他,肇事因素個別,肇事因素主要,肇事逃逸,職業,旅次目的,車種,GPS緯度,GPS經度,事故類別
0,2023,5,1,0,5,臺中市,西屯區,0,1,0,...,NaN,8.0,8.0,1.0,1.0,9.0,C03,120.642998,24.176988,2
1,2023,5,1,0,9,臺中市,北區,0,0,0,...,NaN,23.0,NaN,1.0,21.0,NaN,C03,120.677084,24.155506,3
2,2023,5,1,0,10,臺中市,清水區,0,1,0,...,NaN,6.0,6.0,1.0,5.0,5.0,B03,120.575436,24.269143,2
3,2023,5,1,0,37,臺中市,西屯區,0,1,0,...,NaN,43.0,43.0,1.0,22.0,8.0,B01,120.646416,24.165016,2
4,2023,5,1,0,46,臺中市,東區,0,0,0,...,NaN,23.0,NaN,1.0,3.0,NaN,C03,120.694477,24.127043,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11984,2023,5,31,22,50,臺中市,大里區,0,0,0,...,NaN,16.0,NaN,1.0,22.0,NaN,C03,120.687242,24.095523,3
11985,2023,5,31,23,1,臺中市,西屯區,0,0,0,...,NaN,43.0,NaN,1.0,NaN,NaN,B02,120.648145,24.171703,3
11986,2023,5,31,23,5,臺中市,龍井區,0,1,0,...,NaN,44.0,44.0,1.0,22.0,9.0,C03,120.573238,24.189343,2
11987,2023,5,31,23,14,臺中市,太平區,0,0,0,...,NaN,44.0,19.0,1.0,22.0,NaN,C03,120.712125,24.153201,3
11988,2023,5,31,23,55,臺中市,北屯區,0,1,0,...,NaN,23.0,23.0,1.0,21.0,8.0,B01,120.727142,24.166759,2

In [2]:
#臺中市政府警察局112年6月份交通事故資料
data2 = pd.read_csv("11206.csv")
data2

,序號,縣市別代碼,機關代碼,市話,傳真,年,月,日,時,分,...,車輛撞擊部位其他,肇事因素個別,肇事因素主要,肇事逃逸,職業,旅次目的,車種,GPS座標X,GPS座標Y,事故類別
0,1,66000,387130000C,(04)23274275,(04)23288582,2023,6,1,0,16,...,NaN,19.0,NaN,1.0,22.0,NaN,B03,120.618135,24.338746,3
1,2,66000,387130000C,(04)23274275,(04)23288582,2023,6,1,0,33,...,NaN,16.0,16.0,1.0,22.0,8.0,B03,120.718539,24.236938,3
2,3,66000,387130000C,(04)23274275,(04)23288582,2023,6,1,0,35,...,NaN,6.0,6.0,1.0,18.0,8.0,C03,120.713019,24.078356,2
3,4,66000,387130000C,(04)23274275,(04)23288582,2023,6,1,0,55,...,NaN,23.0,23.0,1.0,12.0,NaN,B03,120.628928,24.145016,3
4,5,66000,387130000C,(04)23274275,(04)23288582,2023,6,1,1,27,...,NaN,23.0,NaN,1.0,4.0,NaN,B03,120.674271,24.148307,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12077,12078,66000,387130000C,(04)23274275,(04)23288582,2023,6,30,22,51,...,NaN,6.0,6.0,1.0,22.0,8.0,B03,120.637060,24.173363,2
12078,12079,66000,387130000C,(04)23274275,(04)23288582,2023,6,30,22,57,...,NaN,43.0,43.0,1.0,21.0,8.0,C02,120.585762,24.364999,1
12079,12080,66000,387130000C,(04)23274275,(04)23288582,2023,6,30,23,7,...,NaN,6.0,6.0,1.0,21.0,8.0,B03,120.601313,24.371181,2
12080,12081,66000,387130000C,(04)23274275,(04)23288582,2023,6,30,23,8,...,NaN,17.0,NaN,1.0,22.0,NaN,B03,120.637938,24.166799,3
12081,12082,66000,387130000C,(04)23274275,(04)23288582,2023,6,30,23,15,...,NaN,23.0,23.0,1.0,5.0,8.0,C03,120.676846,24.162634,2

In [3]:
#列出子集合
set_data1 = set(data1["車種"])
set_data2 = set(data2["車種"])

In [4]:
set_data1

{'A01',
 'A02',
 'A04',
 'A05',
 'A06',
 'A11',
 'A12',
 'A21',
 'A31',
 'A32',
 'A41',
 'A42',
 'B01',
 'B02',
 'B03',
 'B11',
 'B12',
 'C01',
 'C02',
 'C03',
 'C04',
 'C05',
 'D02',
 'D03',
 'E03',
 'E04',
 'E05',
 'F01',
 'F02',
 'F03',
 'F06',
 'G01',
 'G02',
 'G03',
 'G06',
 'H01',
 'H02',
 'H03',
 nan}

In [5]:
set_data2

{'A01',
 'A02',
 'A04',
 'A05',
 'A06',
 'A11',
 'A12',
 'A31',
 'A32',
 'A41',
 'A42',
 'B01',
 'B02',
 'B03',
 'B11',
 'B12',
 'C01',
 'C02',
 'C03',
 'C04',
 'D03',
 'E03',
 'F01',
 'F02',
 'F03',
 'F06',
 'G02',
 'G03',
 'G06',
 'H01',
 'H02',
 'H03',
 nan}

In [6]:
(set_data1 | set_data2)

{'A01',
 'A02',
 'A04',
 'A05',
 'A06',
 'A11',
 'A12',
 'A21',
 'A31',
 'A32',
 'A41',
 'A42',
 'B01',
 'B02',
 'B03',
 'B11',
 'B12',
 'C01',
 'C02',
 'C03',
 'C04',
 'C05',
 'D02',
 'D03',
 'E03',
 'E04',
 'E05',
 'F01',
 'F02',
 'F03',
 'F06',
 'G01',
 'G02',
 'G03',
 'G06',
 'H01',
 'H02',
 'H03',
 nan}

In [7]:
#差集
set_data1 - (set_data1 & set_data2)

{'A21', 'C05', 'D02', 'E04', 'E05', 'G01'}